* {
    font-family: 'Zain', Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 5px, 0px;

}

h1 {
    font-size: 2vw;
}

h2 {
    font-weight: bolder;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 5vw;
    
}

h3 {
    font-weight: 400;
    font-size: 3vw;
}

h4 {
    font-size: 200%;
}

h5 {
    font-size: 1.2em;
    font-weight: 600;
}

h6 {
    font-size: .8em;
}

a {
    text-decoration: none;
    color: inherit;
}

nav {
    background: rgb(244, 255, 248);
    color: rgb(60, 0, 70) !important;
    width: 100%;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 0px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 0px 0px 15px 5px rgba(0,0,0,0)
}

.inline-flex {
    display: inline-flex;
    align-items: center;
    width: 100%;
}

.item {
    padding: 5px;
}

.right-align {
    margin-left: auto;
}

.nav-link {
    background-color: rgb(60, 0, 70);
    border-radius: 25px;
    color: rgb(244, 255, 248);
    padding: 2px 10px;
    font-size: 1.5vw;
}

#home {
    color: rgb(244, 255, 248);
    position: relative;
    width: 100%;
    background-color: rgb(88, 186, 137);
}

.hero-image {
    width: 100%;
    opacity: .9;
    height: auto;
    display: block;
}

.hero-text {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 100%;
}

.hero-head {
    left: 50%;
    width: 100%;
    -webkit-text-stroke: .015em rgb(0,50,0);
    text-stroke: rgb(0,50,0);
    text-shadow: 0 0 15px rgba(255,255,255,.5), 0 0 10px rgba(255,255,255,.5), 0px 0px 10px #000000;
}

.hero-sub {
    width: 100%;
    -webkit-text-stroke: .015em rgb(0,50,0);
    text-stroke: rgb(60,50,0);
    text-shadow: 0 0 15px rgba(255,255,255,.5), 0 0 10px rgba(255,255,255,.5), 0px 0px 10px #000000;
}

.jump-button {
    position: absolute;
    top: 330%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgb(60, 0, 70);
    border-radius: 25px;
    color: rgb(244, 255, 248);
    font-size: 1.8vw;
    width: 12%;
    height: 5vw;
    display: grid;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 25px rgba(255,255,255,.3), 0 0 10px rgba(255,255,255,.3), 0px 0px 10px #000000;
}

#about {
    padding: 100px 30px;
    text-align: center;
    color: rgb(60, 0, 70);
}

.about-grid {
    display: grid;
    grid-template-columns: 70% 30%;
    place-items: center;
}

@media screen and (max-width: 600px) {
    .about-grid {
        grid-template-columns: 1fr;
        }
    }

.about-text {
    padding: 50px;
    font-size: 3vh;
}

.about-image {
    width: 270px; height: 400px; object-fit: cover;
    border-radius: 25px;
    border: 8px double rgb(0, 50, 0);
}

#projects {
    padding: 50px 30px;
    text-align: center;
    background-color: rgb(60, 0, 70);
    color: rgb(244, 255, 248);
}

.project-grid {
    padding-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    place-items: center;
    align-items: stretch;
    gap: 10px;
}

.project-card {
    background-color: rgb(244, 255, 248);
    gap: 10px;
    color: rgb(60, 0, 70);
    border-radius: 25px;
    width: 90%;
    place-items: center;
}

@media screen and (max-width: 600px) {
    .project-grid {
        grid-template-columns: 1fr;
        }
    }

.project-preview {
    width: 100%;
    aspect-ratio: 16/9;
}

iframe, .project-image {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 25px 25px 0px 0px;
    object-fit: cover;
}

.bottom-view {
    object-position: bottom;
}

.top-view {
    object-position: top;
}

.project-text {
    padding: 10px;
}

.project-tools {
    padding-top: 15px;
    font-size: .8em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 10px;
    place-items: center;
}

.tool {
    background-color: rgba(0, 50, 0, .8);
    border-radius: 25px;
    color: rgb(244, 255, 248);
    width: 85%;
    padding: 5px 10px;
}

footer {
    color: rgb(60, 0, 70);
    padding: 10px;
}